.mainContent{
    margin: 3rem 0;
}

.content{
    display: flex;
    align-items: center;
}
.card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: fit-content;
}

.cardImg, .cardBody{
    width: 75%;
    text-align: center;
    img{
        width: 100%;
        display: block;
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 5%;
        margin-bottom: 1rem;
    }
}

.loading{
    text-align: center;
}